/* 
    Mainstylesheet belonging to the template site
    Created on : 3-dec-2019, 11:01:38
    Author     : J. de Klijn
*/

:root{
    --MainPrimaryColor:     #3A3276;     /* Dark blue */
    --ShadeOfWhite:         whitesmoke;     /* Lighter blue */
    --ShadeOfBlack:         #5C5782;     /* Darker blue */
    --ExtraShadeOfBlack:    #1D126A;     /* Blue */
    --SecondaryColor:       #7A296A; 	/* Purple */  
}


/* General styling of the template sheet */
body{
    background-color:   var(--MainPrimaryColor);/* Blue background*/
    color:              var(--ShadeOfWhite);    /* Text color  is white*/
}

/* =========== Classes ====================*/
.container{
   width:               70%;
   margin-left:         15%;
   background-color:    var(--SecondaryColor); 
}

.innercontainer{
    width:              90%;
    margin-left:        5%;
    margin-top:         -1%;
    padding-top:        1%;
    padding-left:       3%;
    /* background-color:   var(--ShadeOfBlack); */
}

.blockContainer{
    width:              84%;
    margin-left:        8%;
    padding-top:        1%;
    padding-left:       3%;
    /* background-color:   var(--ExtraShadeOfBlack); */
}
/* ==== defination of the grid system ====== */
.col-1{ display: flex; 
        width: 8.33%; 
        margin-left: 15px; 
        margin-right: 15px;
}
.col-2{ display: flex; width: 16.67%;}
.col-3{ display: flex; width: 25%;}
.col-4{ display: flex; width: 33.33%;}
.col-5{ display: flex; width: 41.67%;}
.col-6{ display: flex; width: 50%;}
.col-7{ display: flex; width: 58.33%;}
.col-8{ display: flex; width: 66.67%;}
.col-9{ display: flex; width: 75%;}
.col-10{ width: 83.33%;}
.col-11{ width: 91.67%;}
.col-12{ width: 100%;}
.row{   display: flex; width: 100%;}

.red{   background-color: red;}
.blue{  background-color: blue;}
.yellow{background-color: yellow;}
.cyan{  background-color: cyan;}
